<div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap.gl-sm="1em" style="margin:1em;padding-top: 2em" fxLayoutAlign="center center">
    <div fxFlex="40" fxFlex.lt-md="95" >
        <mat-card>
            <mat-card-header>
              <mat-card-title></mat-card-title>
              <mat-card-subtitle>Dinner Preferences</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap="10px" fxLayoutGap.gt-sm="30px" fxLayoutAlign="center center">
                  <div fxFlex="100">
                      <mat-form-field fxFlex appearance="outline" >
                          <mat-label>Name</mat-label>
                          <input type="text" matInput id="nombre"  name="nombre" [(ngModel)]="per.name" required>
                      </mat-form-field>
                      <mat-form-field fxFlex appearance="outline">
                          <mat-label>Dinner</mat-label>
                          <input type="text" matInput id="dinner" name="dinner" [(ngModel)]="per.dinner" required>
                      </mat-form-field>
                  </div>
                </div>
                <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px" fxLayoutGap.gt-sm="30px" fxLayoutAlign="center center">
                  <div fxFlex>
                      <table align="center">
                          <tr>
                            <td><button (click)="setChair(1)" color="{{per.position==1?'secondary':'primary'}}" mat-mini-fab>
                                <mat-icon>person</mat-icon>
                              </button></td>
                            <td></td>
                            <td><button (click)="setChair(2)" color="{{per.position==2?'secondary':'primary'}}" mat-mini-fab>
                                <mat-icon>person</mat-icon>
                              </button></td>
                          </tr>
                          <tr>
                            <td></td>
                            <td><button mat-fab>
                                <mat-icon>crop_landscape</mat-icon>
                              </button></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td><button (click)="setChair(3)" color="{{per.position==3?'secondary':'primary'}}" mat-mini-fab>
                                <mat-icon>person</mat-icon>
                              </button></td>
                            <td></td>
                            <td><button (click)="setChair(4)" color="{{per.position==4?'secondary':'primary'}}" mat-mini-fab>
                                <mat-icon>person</mat-icon>
                              </button></td>
                          </tr>
                        </table>
                  </div>
                </div>
                
            </mat-card-content>
            <mat-card-actions>
              <button (click)="setPerson()" mat-button>Save Preferences</button>
            </mat-card-actions>
          </mat-card>
    </div>
</div>
